[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
check-manifest = ">=0.25"

[packages]
# Workaround for macos M1 machines
sqlalchemy = {extras = ["asyncio"]}
openeduarchive = {editable=true, path="./site"}
uwsgi = ">=2.0"
uwsgitop = ">=0.11"
uwsgi-tools = ">=1.1.1"
invenio-app-rdm = {extras = ["opensearch2", "postgresql"], version = "==12.0.10"}
requests = "==2.32.5"

# Adding python-dotenv to read .env
python-dotenv = "*"

# MSAL for OAuth2 SMTP authentication with Microsoft 365
msal = ">=1.28,<2"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = false
