[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
check-manifest = ">=0.25"

[packages]
# Workaround for macos M1 machines
sqlalchemy = {extras = ["asyncio"]}
openeduarchive = {editable="True", path="./site"}
uwsgi = ">=2.0"
uwsgitop = ">=0.11"
uwsgi-tools = ">=1.1.1"
invenio-app-rdm = {extras = ["opensearch2", "postgresql"], version = "==12.0.5"}
requests = "==2.31.0"

# Adding python-dotenv to read .env
python-dotenv = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = false

# Extra for quick fix
