/* Frontpage */
/* Jumbothree */

.jumbothree{
    background-image: url("../images/noise_white.png");
}
.jumbothree .ui.grid .column {
    text-align: center;
    padding: 3%;
}
.jumbothree .icon-container {
    font-size: 3em;
    margin-bottom: 1em;
}
.jumbothree .icon-wrapper {
    display: inline-block;
    vertical-align: middle;
}


/* Jumbored */
.jumbored{
    background-image: url("../images/noise_red.png");
}